<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cordova.eboxsmart" version="0.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Eureka Smart</name>
    <description>
        Eureka Care for patient
    </description>
    <author href="http://www.robotiktechnology.com" email="n.thomas@robotikdose.com">
        MLS Technologies
    </author>
    <content src="index.html" />
    <icon src="www/res/icon.png" />
    <platform name="android">
        <preference name="Fullscreen" value="true" />
        <icon src="www/res/icon/android/36.png" density="ldpi" />
        <icon src="www/res/icon/android/48.png" density="mdpi" />
        <icon src="www/res/icon/android/72.png" density="hdpi" />
        <icon src="www/res/icon/android/96.png" density="xhdpi" />
        <icon src="www/res/icon/android/144.png" density="xxhdpi" />
        <icon src="www/res/icon/android/192.png" density="xxxhdpi" />
     </platform>    
    <access origin="*" />
</widget>
